/SP3/PersistenceStudentGrades/target/
/SP3/JsDemo1/nbproject/private/
/SP3/JsManipulationAndEvents/target/
/SP3/DemoJSON/nbproject/private/
/SP3/DemoJSON/target/
/SP3/AjaxCallsJsExercise_Day3/target/
/SP4/EuropeContriesAjaxJs_SP4/target/
/SP4/AjaxCallsJsExercise3and4_Day3/target/